  @media screen and (max-width:600px) {
  .products{
    display: inherit;
    height: auto;
    text-align: center;
  }
 .product{
   margin-top: auto;
 }

 .beneficios, .mentions{
   display: inherit;
 }
 .main_section{
   padding: 4%;
 }

}
