body{
  background-color: var(--black-color);
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content_paypal a{

color: var(--green-color);

}
